/* footer */

footer {
  background-color: $bgColor2;
}

.footer__h4 {
  font-size: 2rem;
  font-weight: 400;
}

.footer__link {
  color: $fontLight;
  font-size: 1.8rem;

  &:hover {
    opacity: 0.65;
  }
}

.footer__p {
  font-size: 1rem;
  font-weight: 300;
}

/*index presentación */

.index {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;

  &__image {
    padding: 1%;
    max-width: 50%;
    border: 1px dotted $fontDark;
  }

  &__contenido {
    max-width: 700px;

    &--tortas,
    &--tematicas {
      padding: 10px;
      animation: intro 20s infinite;
    }

    &--mesas {
      padding: 10px;
      animation: intro-reverse 20s infinite;
    }

    &--h4 {
      font-size: 4rem;
      padding: 5px;
    }

    &--p {
      padding: 5px;
    }
  }
}

@keyframes intro {
  0% {
    transform: translate(20px);
  }
  50% {
    transform: translate(-20px);
  }
  100% {
    transform: translate(20px);
  }
}

@keyframes intro-reverse {
  0% {
    transform: translate(-20px);
  }
  50% {
    transform: translate(20px);
  }
  100% {
    transform: translate(-20px);
  }
}

/* nosotros */

.nosotros {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;

  &__image {
    padding: 1%;
    max-width: 50%;
    border: 1px dotted $fontDark;
  }

  &__contenido {
    padding: 20px;
    max-width: 700px;

    &--h1 {
      font-size: 4rem;
      padding: 10px;
    }

    &--p {
      padding: 10px;
    }
  }
}

/* galeria */

.galeria {
  overflow: hidden;

  &__h2 {
    font-size: 6rem;
    padding: 2%;
    animation: titulos 20s infinite;
  }

  &__tortas,
  &__cupcakes,
  &__mesas {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 10px;
    row-gap: 10px;
    justify-items: center;

    &--image {
      width: 250px;
      height: 350px;
      border-radius: 5%;
      transition: 1s;

      &:hover {
        transform: scale(1.3);
      }
    }
  }

  @keyframes titulos {
    50% {
      color: $fontLight;
    }
  }
}

/* personalizadas */

.table {
  font-size: 1.7rem;
  text-align: center;
  margin: 20px;

  &__container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    &--porciones {
      padding: 5px;
      margin: 10px;
    }

    &--image {
      margin: 20px;
    }

    &--rellenos {
      padding: 5px;
      margin: 10px;
    }
  }
}

/* contacto */

.contacto__h2 {
  font-size: 4rem;
  padding: 20px;
}

.contacto__contacto {
  font-size: 1.5rem;
  padding: 10px;
}

.contacto__main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

/* media queries */

@media (max-width: 1400px) {
  .galeria__tortas,
  .galeria__cupcakes,
  .galeria__mesas {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 1200px) {
  .galeria__tortas,
  .galeria__cupcakes,
  .galeria__mesas {
    grid-template-columns: repeat(3, 1fr);
  }

  .table__container {
    flex-direction: column;
    align-content: center;
  }
}

@media (max-width: 768px) {
  .menu__list--link {
    padding: 10px;
  }

  .galeria__tortas,
  .galeria__cupcakes,
  .galeria__mesas {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 576px) {
  .menu__list {
    flex-direction: column;
  }

  .galeria__tortas,
  .galeria__cupcakes,
  .galeria__mesas {
    grid-template-columns: repeat(1, 1fr);
  }
}
